:root {
    --main-color: #0073ff;
    --main-color-rgba: #008cff45;
    --bg: #012;
    --text: rgb(0, 255, 0);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    overflow: hidden;
}
body {
    color: var(--text);
    background-color: var(--bg);
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
    user-select: none;
    font-family: var(--font-makinas), var(--font-notojp), sans-serif;
}

@media screen and (min-width: 1000px) {
    body {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
